*{
    font-family: 'KIMM_Bold';
    box-sizing: border-box;
    font-size: 32px;
}

body{
    margin: 0;
    color: white;
    background-color: black;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock{
    min-width: 360px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.today{
    margin-bottom: 10px;
    font-size: 20px;
}

.time{
    margin-top: 10px;
    font-size: 60px;
}

.timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 360px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}


button{
    background-color: rgba(0,0,0,0);
    color : white;
    height: 45px;
    width: 45px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.title{
    font-size: 18px;
    margin-bottom: 0px;
}

@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}